$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'phone-570': 570px,
  'phone-land': 640px,
  'smart-phone': 767px,
  'ipad': 1024px,
  'maxWidth': 1170px,
  'laptop' : 1280px,
  'desktop': 1440px,
  'widescreen': 1600px,
  'lg-screen': 1800px,
  'lg-widescreen': 1920px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

/* Import partial files */
@import 'vendors/include-media';
@import 'vendors/bootstrap/stylesheets/zillable-bootstrap';
@import 'vendors/lightgallery';
@import 'vendors/animate';
@import 'vendors/icomoon';

/* Themes */
@import 'theme/variables';
@import 'theme/zmixin';
@import 'theme/utilities';

/* Layouts */
@import 'layouts/common';
@import 'layouts/box-layout';
@import 'layouts/header';
@import 'layouts/page';
@import 'layouts/footer';

/* Modules */
@import 'modules/nav';
@import 'modules/banner';
@import 'modules/overlapped-box';