[data-bkg="true"] {
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
}

.wow {
	//opacity: 0;
	visibility: hidden;
}

.animated {
	//opacity: 1;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	min-width: 135px;
	border: 2px solid transparent;
	border-radius: 100px;
	font-size: $fs-menu;
	text-align: center;
	line-height: 1;

	&--md {
		padding: 12px 15px;
	}

	&--lg {
		min-width: 225px;

		@include media("<=smart-phone") {
			padding: 12px 20px;
			font-size: 1rem;
		}

		@include media("<=ipad", ">smart-phone") {
			padding: 12px 20px;
			font-size: 1rem;
		}

		@include media("<=desktop", ">ipad") {
			padding: 13px 20px;
			font-size: 1.05rem;
		}

		@include media(">desktop") {
			padding: 20px 22px;
			font-size: 1.125rem;
		}
	}

	&--signup {
		padding: 17px 20px;
		min-width: 220px;
		text-transform: $uc;
	}

	&--green {
		background: {
			color: $color-green;
		}
		color: $color-white;

		&:hover {
			background-color: transparent;
			border-color: $color-green;
			color: $color-green;
		}
	}

	&--white {
		background: {
			color: $color-white;
		}

		[class*="bkg--green"] & {
			color: $color-green;
		}

		&:hover {
			background-color: transparent;
			border-color: $color-white;
			color: $color-white;
		}
	}
}

.text {
	&--dashed {
		border-bottom: 1px dashed;
	}

	&-link {
		display: inline-block;

		&--white {
			color: $color-white;

			&::after {
				background: {
					color: $color-white;
				}
			}
		}

		&--sm {
			font-size: 1rem;
		}

		&--bordered {
			position: relative;

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				content: "";
				width: 100%;
				height: 1px;
				transform: scale3d(1, 1, 1) translateZ(0);
				transition: all ease 0.25s;
			}

			&:hover {
				&::after {
					transform: scale3d(0, 0, 0) translateZ(0);
					transition: all linear 0.35s;
				}
			}
		}
	}
}

.js-lightbox {
	color: $color-blue;

	&:hover {
		opacity: 0.75;
		color: $color-blue;
	}
}

.icon {
	&--md {
		display: inline-block;
		vertical-align: middle;
		margin-right: 1.25rem;
		width: 2.938rem;
		height: 2.938rem;
		border-radius: 50%;
		font-size: 0.875rem;
		text-align: center;
		line-height: 2.938rem;
	}

	&--lg {
		font-size: 1.75rem;
	}

	&--white {
		background: {
			color: $color-white;
		}
		color: $color-black;
	}

	&--picto {
		display: inline-block;
		margin: 0 0 45px;
		font-size: 4rem;
	}

	&-arrow-pointer {
		opacity: 0;
	    display: block;
	    margin: 15px auto 0;
	    max-width: 30px;
	    font-size: 1.75rem;
	    text-align: center;
	    transform: translate3d(-10px, 0px, 0);
	    backface-visibility: hidden;
	    transition: all ease 0.75s;
	}

	&-circular {
		margin-left: 0.5rem;
		background: {
			color: $color-white;
		};
		border-radius: 50%;

		@include media("<=smart-phone") {
			width: 1.85rem;
			height: 1.85rem;
		}

		@include media(">smart-phone") {
			width: 2.25rem;
			height: 2.25rem;
		}

		.tour-guide-row & {
			position: relative;
			display: inline-block;
			vertical-align: top;
			color: $color-green;
			line-height: 2.25rem;

			&::before {
				position: absolute;
				top: 50%;
				font-size: 1.25rem;
				font-weight: bold;
				transform: translate(-50%, -50%);

				@include media("<=smart-phone") {
					font-size: 1rem;
				}

				@include media(">smart-phone") {
					font-size: 1.125rem;
				}
			}
		}
	}
}

.gap {
	&-top15 {
		margin-top: 15px;
	}

	&-top25 {
		margin-top: 25px;
	}

	&-top30 {
		margin-top: 30px;
	}

	&-top40 {
		@include media("<=smart-phone") {
			margin-top: 20px;
		}

		@include media(">smart-phone") {
			margin-top: 40px;
		}
	}

	&-top50 {

		@include media("<=smart-phone") {
			margin-top: 30px;
		}

		@include media("<=ipad", ">smart-phone") {
			margin-top: 40px;
		}

		@include media(">ipad") {
			margin-top: 55px;
		}
	}

	&-top80 {
		
		@include media("<=smart-phone") {
			margin-top: 40px;
		}

		@include media("<=ipad", ">smart-phone") {
			margin-top: 50px;
		}

		@include media(">ipad") {
			margin-top: 80px;
		}
	}

	&-btm10 {
		&:last-child,
		&:last-of-type,
		&:first-child {
			margin-bottom: 10px;
		}
	}

	&-btm25 {
		margin-bottom: 1.575rem;;
	}

	&-btm30 {
		margin-bottom: 1.875rem;;
	}

	&-zero {
		&:last-child,
		&:last-of-type,
		&:first-child {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.comp {
	&--abs {
		position: absolute;
		right: 0;
		left: 0;
		//overflow: hidden;
		margin: 0 auto;
		padding: 0 15px;
		max-width: 180px;
		text-align: center;

		@include media("<=smart-phone") {
			bottom: 10px;
		}

		@include media("<=ipad", ">smart-phone") {
			bottom: 50px;
		}

		@include media(">ipad") {
			bottom: 100px;
		}

		i {
			display: inline-block;
			color: $color-white;
			font-size: 2.5rem;
		}

		> span {
			display: block;
			margin-top: 10px;
			color: $color-white;
			font-size: 0.8rem;
			font-weight: $fw-bold;
		}
	}
}

.no-gutter {
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.color {
	&--green {
		color: $color-green;
	}

	&--green-dark {
		color: $color-green-dark;
	}

	&--gray9d {
		color: $color-gray9d;
	}

	&--blue {
		color: $color-blue;
	}

	&--white {
		color: $color-white;
	}
}

.video-play {
	&:hover {
		opacity: 0.75;
		color: $color-blue;
		color: inherit;
	}
}

.bkg {
	&--white {
		background: {
			color: $color-white;
		}
		box-shadow: 1px 2px 17px 0 rgba(0,0,0,0.15)
	}

	&--gray {
		background-color: $color-gray;
		* {
			//color: $color-white;
		}
	}

	&--whisper {
		background-color: $color-whisper;
		* {
			//color: $color-white;
		}
	}

	&--green {
		background-color: $color-green;
		* {
			color: $color-white;
		}
	}

	&--green-md {
		background-color: $color-green34;
		h1, h2, h3, h5, h5, h6, p, div, ul, li, a {
			color: $color-white;
		}

		.color--green-dark {
			color: $color-green-dark;
		}
	}

	&--green-dark {
		background-color: $color-green-dark;
		* {
			color: $color-white;
		}
	}

	&--yellow {
		background-color: $color-yellow;
		* {
			color: $color-white;
		}
	}

	&--brown {
		background-color: $color-brown;
		* {
			color: $color-white;
		}
	}
}

.opaque {
	&--v7 {
		opacity: 0.7;
	}
}

.link__icon {
	position: relative;
	padding-right: 1.5rem;

	&:hover {
		color: $color-graybb;
	}

	.icon {
		position: absolute;
		top: 50%;
		right: 0;
		display: inline-block;
		transform: translateY(-50%);
	}
}

.backTop {
	&-wrapper {
		position: fixed;
	    right: 15px;
	    bottom: 25px;
	    z-index: 2;
	    pointer-events: none;
	    opacity: 0;
	    background: $color-green-dark;
	    transform: translateY(50px);
	    transition: all ease 0.35s;

	    &.animated {
	    	opacity: 1;
	    	pointer-events: auto;
	    	transform: translateY(0px);
			transition: all linear 0.45s;	    	
	    }

	    .arrow--top {
			position: relative;
		    top: 0;
		    display: block;
		    width: 3.125rem;
	    	height: 3.125rem;
		    color: #ffffff;
		    font-size: 1.25rem;
		    text-align: center;
		    line-height: 3.125rem;
		    transform: rotate(-90deg);
		    transition: all ease-in-out 0.35s;
	    }
	}

	&__trigger {
		display: block;
	    width: 3.125rem;
	    height: 3.125rem;
	}
}

.flipping {
	&__panel {
		perspective: 600px;

		&--hovered {
			.flipping__face--front {
				transform: rotateY(-180deg);
			}

			.flipping__face--back {
				transform: rotateX(0deg) rotateY(0deg);
			}
		}
	}

	&__face {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 11px 20px 10px;
		border: 1px solid #e5e5e5;

		&--front {
			z-index: $zIndex-one;
			transform: rotateX(0deg) rotateY(0deg);
			transform-style: preserve-3d;
			backface-visibility: hidden;
			transition: all 0.4s ease-in-out;
		}

		&--back {
			z-index: $zIndex-one + 1;
			transform: rotateY(-180deg);
			transform-style: preserve-3d;
			backface-visibility: hidden;
			transition: all 0.4s ease-in-out;
		}
	}
}

@include media("<=smart-phone") {
	.text-left, .text-right {
		text-align: center;
	}
}