/* Typo variables */
$ff-base: 'Lato', sans-serif;
$font-secondary: '';
$fs-base: 1.125rem;
$fs-menu: 0.875rem !default;
$fs-lg: 3.5000rem;
$fs-h5: 1.313rem;
$fs-h6: 0.938rem;
$fw-lt: 300;
$fw-reg: 400;
$fw-md: 500;
$fw-bold: 700;
$lh-base: 2.5rem;

/* Font cases */
$uc: uppercase;
$lc: lowercase;
$caps: capitalize;

/* Color codes */
$color-white: #ffffff;
$color-black: #010101;
$color-black28: #282828;
$color-green: #42cd70;
$color-green-dark: #209f4a;
$color-green51: #00a651;
$color-green34: #34bf62;
$color-green26: #26ab52;
$color-blue: #00eaff;
$color-blue58: #586c79;
$color-blue1c: #1c232c;
$color-gray: #fafafa;
$color-whisper: #f5f5f5;
$color-graye5: #e5e5e5;
$color-gray9d: #9d9d9d;
$color-grayef: #efefef;
$color-gray67: #676767;
$color-graya4: #a4a4a4;
$color-brown: #313030;
$color-brown34: #343434;
$color-yellow: #eeb711;
$color-tw: #31b9d2;
$color-fb: #138de3;
$color-schat: #f5df22;
$color-yt: #db1d1d;
$color-lkdn: #0f7099;
$color-pin: #f5224e;
$color-abn: #f16e6e;
$color-ub: #0b232d;
$color-zil: #2ec31f;

/* Z-index codes */
$zIndex-neg: -1;
$zIndex-zero: 0;
$zIndex-one: 1;
$zIndex-higher: 2;
