.icontainer {
	margin: 0 auto;

	&--main {
		padding: 0 15px;
		max-width: 1230px;
	}
}

.text {
	&-container {
		@include media(">smart-phone") {
			&-335 {
				//margin: 0 auto;
				max-width: 335px;
			}

			&-480 {
				margin: 0 auto;
				max-width: 480px;
			}

			&-500 {
				margin: 0 auto;
				max-width: 500px;
			}

			&-720 {
				margin: 0 auto;
				max-width: 720px;
			}

			&-740 {
				margin: 0 auto;
				max-width: 740px;
			}

			&-820 {
				margin: 0 auto;
				max-width: 820px;
			}

			&-900 {
				margin: 0 auto;
				max-width: 900px;
			}

			&-960 {
				margin-right: auto;
				margin-left: auto;
				max-width: 960px;
			}
		}
	}
}

.flex {
	@include media(">smart-phone") {
		display: flex;
		flex: 1 0 0;

		&--wrap {
			flex-wrap: wrap;
		}

		&--vcenter {
			align-items: center;

			&-col {
				>[class*="flex__col"] {
					display: flex;
					align-items: center;
				}
			}
		}

		&--center {
			align-items: center;
			justify-content: center;
		}

		&--hcenter {
			justify-content: center;

			.flex__col {
				justify-content: center;			
			}
		}

		&--hend {
			justify-content: flex-end;
		}

		&--stretch {
			align-items: stretch;
		}

		&__col {
			a {
				color: inherit;
				//transition: none;
			}

			&--eqht {
				display: flex;
				//flex-direction: column;

				> .block__body {
					width: 100%;
					text-align: center;

					> a {
						display: block;
					}
				}
			}

			&--gray {
				> a {
					background: {
						color: $color-gray;
					}
				}
			}

			&--stretched {
				display: flex;
			}
		}
	}

	@include media("<=smart-phone") {
		&__col {
			&:not(:last-of-type) {
				margin-bottom: 30px;
			}
		}
	}
}

.gutter {
	&-60 {
		@include media("<=smart-phone") {
			margin-right: -15px;
			margin-left: -15px;

			>[class*="col-"] {
				padding-right: 15px;
				padding-left: 15px;
			}
		}

		@include media("<=ipad", ">smart-phone") {
			margin-right: -8px;
			margin-left: -8px;

			>[class*="col-"] {
				padding-right: 8px;
				padding-left: 8px;
			}
		}

		@include media("<=laptop", ">ipad") {
			margin-right: -15px;
			margin-left: -15px;

			>[class*="col-"] {
				padding-right: 15px;
				padding-left: 15px;
			}
		}

		@include media(">laptop") {
			margin-right: -30px;
			margin-left: -30px;

			>[class*="col-"] {
				padding-right: 30px;
				padding-left: 30px;
			}
		}
	}

	&-40 {
		@include media("<=ipad") {
			margin-right: -15px;
			margin-left: -15px;

			>[class*="col-"] {
				padding-right: 15px;
				padding-left: 15px;
			}
		}

		@include media(">ipad") {
			margin-right: -20px;
			margin-left: -20px;

			>[class*="col-"] {
				padding-right: 20px;
				padding-left: 20px;
			}
		}
	}

	&-20 {
		margin-right: -10px;
		margin-left: -10px;

		>[class*="col-"] {
			padding-right: 10px;
			padding-left: 10px;
		}
	}

	&-10 {
		margin-right: -5px;
		margin-left: -5px;

		>[class*="col-"] {
			padding-right: 5px;
			padding-left: 5px;
		}
	}
}