.icontainer {
	margin: 0 auto;

	&--main {
		padding: 0 15px;
		max-width: 1230px;
	}
}

.text {
	&-container {
		@include media(">smart-phone") {
			&-335 {
				//margin: 0 auto;
				max-width: 335px;
			}

			&-480 {
				margin: 0 auto;
				max-width: 480px;
			}

			&-900 {
				margin: 0 auto;
				max-width: 900px;
			}
		}
	}
}

.flex {
	display: flex;
	flex: 1 0 0;

	&--vcenter {
		align-items: center;
	}

	&--center {
		align-items: center;
		justify-content: center;
	}

	&--hcenter {
		justify-content: center;

		.flex__col {
			justify-content: center;			
		}
	}

	&--hend {
		justify-content: flex-end;
	}

	&--stretch {
		align-items: stretch;
	}

	&__col {
		a {
			color: inherit;
			//transition: none;
		}

		&--eqht {
			display: flex;
			//flex-direction: column;

			> .block__body {
				width: 100%;
				text-align: center;

				> a {
					display: block;
				}
			}
		}
	}
}

.gutter {
	&-60 {
		margin-right: -30px;
		margin-left: -30px;

		>[class*="col-"] {
			padding-right: 30px;
			padding-left: 30px;
		}
	}

	&-40 {
		margin-right: -20px;
		margin-left: -20px;

		>[class*="col-"] {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
}