html,
body {
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;

	@include media("<=smart-phone") {
		font-size: 90%;
	}

	@include media("<=ipad", ">smart-phone") {
		font-size: 90%;
	}

	@include media("<=desktop", ">ipad") {
		font-size: 95%;
	}

	@include media(">desktop") {
		font-size: 100%;
	}
}

body {
	overflow-x: hidden;
	font-family: $ff-base;
	font-weight: $fw-reg;
	line-height: $lh-base - 1rem;
	letter-spacing: 0.25px;
	-webkit-font-smoothing: antialiased;

	@include media(">smart-phone") {
		font-size: $fs-base - 0.125rem;
	}
}

@include selection($color-green, $color-white);

* {
	margin: 0 0;
	padding: 0 0;
	box-sizing: border-box;
}

ul, ol {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}

figure {
	&.block__picture {
		overflow: hidden;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;

	figure & {
		width: 100%;
	}
}

a {
	text-decoration: none;
	transition: all ease 0.35s;

	&:hover,
	&:focus,
	&:active {
		color: inherit;
		text-decoration: none;
		outline: 0;
	}
}

p {
	.block--collaborate & {
		@include media(">smart-phone") {
			line-height: 2.5rem;
		}

		@include media("<=smart-phone") {
			line-height: 1.85rem;
		}
	}

	.block--jumbo-banner & {
		@include media(">smart-phone") {
			font-size: 1rem;
			line-height: 1.875rem;
		}
	}

	.block--signup & {
		color: $color-gray67;
		@include media(">smart-phone") {
			font-size: 0.875rem;
		}
	}

	.block--feature & {
		color: $color-gray67;
		@include media(">smart-phone") {
			font-size: 0.875rem;
		}
	}

	&:not(:last-child),
	&:not(:last-of-type) {
		margin-bottom: 15px;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	a {
		color: $color-green;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0;
}

.title {
	&--lg {
		display: block;

		@include media("<=phone") {
			font-size: $fs-lg - 1.5rem;
			line-height: $lh-base - 0.55rem;
		}

		@include media("<=smart-phone", ">phone") {
			font-size: $fs-lg - 1rem;
			line-height: $lh-base;
		}

		@include media("<=ipad", ">smart-phone") {
			font-size: $fs-lg - 1rem;
			line-height: $lh-base;
		}

		@include media("<=desktop", ">ipad") {
			font-size: $fs-lg - 1rem;
			line-height: $lh-base;
		}

		@include media(">desktop") {
			font-size: $fs-lg;
			line-height: $lh-base + 0.75rem;
		}
	}

	&--uc {
		text-transform: $uc;
	}

	&--md {
		display: block;

		@include media("<=smart-phone") {
			font-size: 1.55rem;
			line-height: 1.5rem;
		}

		@include media("<=laptop", ">smart-phone") {
			font-size: 1.75rem;
			line-height: 2.25rem;
		}

		@include media(">laptop") {
			font-size: 2rem;
			line-height: 2.5rem;
		}

		&:not(:last-child) {

			@include media("<=smart-phone") {
				margin-bottom: 25px;
			}

			@include media(">smart-phone") {
				margin-bottom: 10px;
			}
		}
	}
}

h3 {

	@include media("<=smart-phone") {
		font-size: 1.85rem;
	}

	@include media("<=ipad", ">smart-phone") {
		font-size: 2.5rem;
	}

	@include media("<=desktop", ">ipad") {
		font-size: 3rem;
	}

	@include media(">desktop") {
		font-size: 3.383rem;
	}

	&:not(:last-child) {
		margin-bottom: 5px;
	}

	span:not([class*="color-"]) {
		display: inline-block;

		@include media("<=smart-phone") {
			font-size: 1.5rem;
		}

		@include media(">smart-phone") {
			font-size: 2rem;
		}
	}
}

.title--md {
	
}

h4 {
	display: block;
	font-size: 1.125rem;

	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

h5 {
	font-size: $fs-h5;

	&:not(:last-child) {
		margin-bottom: 1.575rem
	}
}

h6 {
	font-size: $fs-h6;
	
	&:not(:last-child) {
		@include media("<=smart-phone") {
			margin-bottom: 0.938rem;
		}

		@include media(">smart-phone") {
			margin-bottom: 1.575rem;
		}	
	}

	@include media("<=smart-phone") {
		line-height: 1.45rem;
	}
}