.footer {
	&--is-sticky {
		color: $color-white;
		
		@include media(">smart-phone") {
			position: fixed;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}

	&__col {
		@include media(">smart-phone") {
			&--sm {
				width: 35%;
			}

			&--lg {
				width: 65%;
			}
		}

		&--widget {
			@include media("<=smart-phone", ">phone") {
				//width: 50%;
			}

			h4 {
				color: $color-green;
				font-size: 1.60rem;
			}

			li {
				&:not(:last-of-type) {
					margin-bottom: 7px;
				}

				a {
					display: inline-block;
					color: $color-white;
					font-size: 0.8rem;
					line-height: 1.25rem;

					@include media("<=smart-phone") {
						font-size: 0.875rem;
						line-height: 1.5rem;
						letter-spacing: 1px;
					}

					&:hover {
						color: $color-graya4;
					}
				}
			}
		}
	}
}