.header {
	transition: all ease 0.35s;

	&--primary {
		padding: 10px 0;
	}

	&--is {
		&-sticky {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: $zIndex-higher;
			background: {
				color: transparent;
			}
		}
	}

	&.sticky-enabled {
		background: {
			color: $color-brown;
		}
		transition: all linear 0.5s;
	}
}