.site-wrapper {
	@include media("<=smart-phone") {
		margin-bottom: 0 !important;
	}
}

main {
	position: relative;
	z-index: $zIndex-one;
	background: {
		color: $color-white;
	}

	@include media("<=smart-phone") {
		padding-top: 50px;
	}
}

.block {
	@include media("<=smart-phone") {
		text-align: center;

		&:not(:last-of-type) {
			//padding-bottom: 0;
		}
	}

	&__header {
		&--bordered {
			@include media(">smart-phone") {
				padding-left: 6rem;
			}

			.block__title {
				position: relative;
					&::after {
					position: absolute;
					top: 50%;
					right: 0;
					left: 0;
					z-index: $zIndex-zero;
					content: "";
					background: {
						color: $color-black;
					}
					width: 100%;
					height: 1px;
				}

				strong {
					position: relative;
					z-index: $zIndex-one;
					padding-right: 1.25rem;
					padding-left: 1.25rem;
					background: {
						color: $color-white;
					}
				}
			}
		}
	}

	&--flex {
		display: flex;
		flex-direction: row;
		//justify-content: center;

		&-vc {
			align-items: center;
			> div {
				width: 100%;
				max-width: 100%;
			}
		}

		&-vhc {
			align-items: center;
			justify-content: center;
			text-align: center;
			> div {
				//width: 100%;
				max-width: 100%;
			}
		}
	}

	&--stacked {
		position: relative;

		&-h {
			&590 {
				// @include media("<=lg-widescreen") {
				// 	&::before {
				// 		overflow: hidden;
				// 		content: "";
				// 		display: block;
				// 		padding-bottom: percentage(590 / 1600);
				// 	}
				// }

				// @include media(">lg-widescreen") {
				// 	height: 36.875rem;
				// }

				@include media(">smart-phone") {
					height: 36.875rem;
				}

				@include media("<=smart-phone") {
					height: 32rem;
				}
			}
		}

		> div {
			height: 100%;
		}

		&-imageBelow {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				content: "";
				display: block;
				background: {
					color: $color-white;
				}

				@include media("<=ipad", ">smart-phone") {
					height: 9rem;
				}

				@include media("<=desktop", ">ipad") {
					height: 11.375rem;
				}

				@include media(">desktop") {
					height: 14.375rem;
				}
			}
		}
	}

	&--footer-coverImg {
		figure {
			.img-responsive {
				position: relative;
				top: 0%;
				left: 50%;
				width: auto;
				max-width: none;
				max-height: none;
				transform: translateX(-50%);
				backface-visibility: hidden;

				@include media("<=phone") {
					height: 250px;
				}

				@include media("<=smart-phone", ">phone") {
					height: 300px;
				}
			}
		}
	}

	&-gap {
		&--sm {
			
			@include media("<=smart-phone") {
				padding: 2.5rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 2rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 3rem 0;	
			}

			@include media(">desktop") {
				padding: 3.125rem 0;	
			}
		}

		&--md {
			
			@include media("<=smart-phone") {
				padding: 2.5rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 2.9rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 3.25rem 0;	
			}

			@include media(">desktop") {
				padding: 3.750rem 0;	
			}
		}

		&--lg {
			@include media("<=smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 3.5rem 0;
			}

			@include media(">desktop") {
				padding: 5.625rem 0;	
			}
		}

		&--lgx {
			@include media("<=smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 3.5rem 0;
			}

			@include media(">desktop") {
				padding: 6.563rem 0;	
			}
		}

		&--lg-1x {
			@include media("<=smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 4rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 5rem 0;
			}

			@include media(">desktop") {
				padding: 8rem 0;	
			}
		}

		&--lg-2x {
			@include media("<=smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 7rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 8.5rem 0;
			}

			@include media(">desktop") {
				padding: 11.250rem 0;	
			}
		}

		&--lg-3x {
			@include media("<=smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 9rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 11.5rem 0;
			}

			@include media(">desktop") {
				padding: 14.375rem 0;	
			}
		}
	}

	&__content {
		background: $color-white;
		transition: all ease 0.75s;
		// box-shadow: 0 0 11px -5px rgba(0, 0, 0, 0.75);

		@include media("<=smart-phone") {
			padding: 25px 15px;
		}

		@include media(">smart-phone") {
			padding: 45px 45px;
		}

		.title--lg {
			margin-bottom: 5px;

			+ p:first-of-type {
				margin-top: 25px;
			}
		}
	}

	&__picture {
		img {
			transition: all ease 1s;
		}
	}

	&__body {
		h4 {
			text-transform: $uc;
		}

		p {
			line-height: 1.75rem;
		}
	}

	&--feature {
		.block__body {
			@include media("<=smart-phone") {
				padding: 5rem 15px;

				> * {
					color: $color-white;
				}

				.icon-arrow-pointer {
					opacity: 1;
				}
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 25px 15px;
			}

			@include media(">ipad") {
				//padding: 40px 40px;
				padding: 30px 30px;
			}

			h4 {
				margin-bottom: 20px;
			}
		}
	}

	@include media("<=smart-phone") {
		&-theme--green {
			.block__body {
				width: 100%;
				background: $color-green;
			}
		}

		&-theme--yellow {
			.block__body {
				width: 100%;
				background: $color-yellow;
			}
		}
	}

	&--is-inverse {
		&.block--enterprise {
			@include media("<=ipad", ">smart-phone") {
				padding-bottom: 5rem;
			}

			@include media("<=laptop", ">ipad") {
				padding-bottom: 8rem;
			}
		}

		.col-overlapped[data-order="1"],
		[data-order="1"] {
			@include media(">smart-phone") {
				order: 2;
				transform: translate3d(0rem, 0rem, 0);
			}
		}

		.col-overlapped[data-order="2"],
		.col-overlapped[data-order="1"][data-order="2"] {
			@include media(">smart-phone") {
				order: 1;
				transform: translate3d(0rem, 4rem, 0);
			}
		}

		.row-overlapped {
			@include media(">smart-phone") {
				justify-content: flex-end;
			}
		}

		.col-overlapped--bkg {
			@include media(">smart-phone") {
				right: auto;
				left: 0;
			}
		}
	}

	&--innovate,
	&--signup {
		// @include media("<=smart-phone") {
		// 	padding-bottom: 0;
		// }
	}

	&--pattern {
		[data-bkg="true"] {
			background: {
				position: top right;
				size: contain;
			}
		}
	}

	&--services {
		padding-bottom: 5.75rem;
	}

	h3.block__title {
		&--md {
			margin-bottom: 1.5rem;
			
			@include media("<=smart-phone") {
				font-size: 1.75rem;
			}

			@include media(">smart-phone") {
				font-size: 2.35rem;
			}
		}
	}
}

.feature {
	&-list {
		li {
			@include media(">smart-phone") {
				display: flex;
				align-items: center;
			}

			&:not(:last-of-type) {
				@include media(">smart-phone") {
					margin-bottom: 25px;
				}

				@include media("<=smart-phone") {
					margin-bottom: 15px;
				}
			}

			.feature-list {
				&__title {
					font-size: 1.125rem;
					font-weight: $fw-bold;
					text-transform: $uc;
					width: 30%;

					@include media("<=smart-phone", ">phone") {
						display: inline-block;
						text-align: left;
					}

					@include media("<=phone") {
						display: block;
						width: 100%;
					}
				}

				&__value {
					color: $color-gray67;
					font-size: 0.875rem;
					font-weight: $fw-bold;
					width: 70%;

					@include media("<=smart-phone", ">phone") {
						display: inline-block;
						margin-left: -5px;
						text-align: right;
					}

					@include media("<=phone") {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}

.membership {
	&__info {
		font-size: 0.938rem;
	}
}

/* iCard block style rules */
.h-stretch {
	height: 100%;
}

.icard {
	line-height: 1.75rem;

	&__wrap {
		&--default {
			position: relative;
		}
	}

	&--stacked {

		@include media("<=smart-phone") {
			margin-bottom: 25px;
		}

		h5 {
			font-size: 1.125rem;
			line-height: 1.5rem;

			&:not(:last-child) {
				margin-bottom: 1.35rem;
			}
		}

		ul {
			margin-top: 1.25rem;

			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}

			li {
				//padding-left: 35px;
				list-style: disc;
				list-style-position: inside;

				@include media("<=smart-phone") {
					text-align: left;
				}
			}
		}
		
		&:not(.icard--stacked-noshadow) {
			box-shadow: 20px 20px 0px transparentize($color-green26, 0);
		}

		&-topoffset {
			&55 {
				transform: translate3d(0rem, -3.438rem, 0);
			}
		}

		.block--stacked-imageBelow & {
			position: relative;
			z-index: 1;

			@include media("<=smart-phone") {
				margin-right: auto;
				margin-left: auto;
			}
		}

		&-enterprise {
			@include media(">smart-phone") {
				margin-top: 2rem;
			}
		}

		&-notifics {

			@include media("<=ipad", ">smart-phone") {
				margin-top: -13rem;
			}
			
			@include media("<=laptop", ">ipad") {
				margin-top: -27rem;
			}

			@include media("<=desktop", ">laptop") {
				margin-top: -26rem;
			}

			@include media(">desktop") {
				margin-top: -35rem;
			}
		}

		&-pullRight {
			//float: right;
			margin-left: auto;
		}

		&-inside {
			width: 100%;

			@include media("<=smart-phone") {
				height: 100%;
				text-align: center;
			}

			p {
				font-size: 0.875rem;
				line-height: 1.5rem;
			}

			&__body {
				position: absolute;
			    content: "";
				background: {
					color: $color-green26;
				}

				@include media("<=smart-phone") {
					bottom: 0;
					padding: 20px 15px;
				}

				@include media(">smart-phone") {
					bottom: -2rem;
					padding: 2.5rem 3rem;
				}
			}
		}

		&-outside {
			width: 100%;

			@include media("<=smart-phone") {
				height: 100%;
				text-align: center;
			}

			h5 {
				font-size: 1.5rem;
			}

			p {
				font-size: 0.875rem;
				line-height: 1.5rem;
			}

			&__body {
				position: absolute;
			    bottom: 0rem;
			    content: "";
				background: {
					color: $color-green26;
				}

				@include media("<=smart-phone") {
					left: 50%;
					padding: 2rem 2rem;
					width: 100%;
					max-width: 260px;
					transform: translateX(-50%);
				}

				@include media(">smart-phone") {
					left: 0rem;
					padding: 2.5rem 3rem;
					max-width: 330px;
				}
			}
		}
	}

	&--abs {
		@include media(">smart-phone") {
			position: absolute;

			&-topLeft {
				top: 0;
			}	
		}
	}

	&--xs {
		max-width: 480px;

		@include media("<=smart-phone") {
			padding: 20px 15px;
		}

		@include media(">smart-phone") {
			padding: 3.5rem 3.438rem 4rem;
		}
	}

	&--sm {
		@include media("<=smart-phone") {
			padding: 20px 15px;
		}

		@include media(">smart-phone") {
			padding: 3rem 3.438rem 5.375rem;
		}
	}

	&--lg {
		//width: 100%;
		max-width: 480px;

		@include media("<=smart-phone") {
			margin-right: auto;
			margin-left: auto;
			padding: 2rem 2rem 3rem;
		}

		@include media(">smart-phone") {
			padding: 6rem 3.438rem 8.375rem;
		}
	}

	h3 {
		&:not(:last-child) {
			margin-bottom: 1.35rem;
		}
	}
}

/* Donut recipe */
.donut {
	&__list {
		@include media("<=smart-phone") {
			display: flex;
			flex-wrap: wrap;

			li {
				width: 33.33333333%;
			}
		}

		@include media("<=570px") {
			li {
				width: 50%;
			}
		}

		.donut {
			&__item {
				display: flex;
				padding-right: 5px;
				padding-left: 5px;

				@include media("<ipad", ">smart-phone") {
					width: 50%;
				}

				@include media(">=ipad") {
					width: 33.3333333%;
				}

				&:not(.last-col) {
					margin-bottom: 10px;
				}

				&--zillable {
					h5 {
						color: $color-zil;
					}
				}

				&--twitter {
					h5 {
						color: $color-tw;
					}
				}

				&--facebook {
					h5 {
						color: $color-fb;
					}
				}

				&--snapchat {
					h5 {
						color: $color-schat;
					}
				}

				&--youtube {
					h5 {
						color: $color-yt;
					}
				}

				&--linkedin {
					h5 {
						color: $color-lkdn;
					}
				}

				&--pinterest {
					h5 {
						color: $color-pin;
					}
				}

				&--airbnb {
					h5 {
						color: $color-abn;
					}
				}

				&--uber {
					h5 {
						color: $color-ub;
					}
				}
			}

			&__content {
				padding: 1.25rem 1.5rem 1.75rem;
				width: 100%;
				border: 1px solid $color-graye5;
				text-align: center;

				h5 {
					margin-bottom: 0.35rem;
				}

				p {
					font-size: 0.875rem;
					font-weight: 600;
					line-height: 1.25rem;
				}
			}
		}
	}

	&__picture-wrap {
		transition: all linear 0.35s;

		@include media(">smart-phone") {
			position: absolute;
			top: -6.75rem;

			img {
				width: auto;
				max-width: inherit;
			}
		}

		@include media("<desktop", ">=ipad") {
			top: 0;
			max-width: 100%;
		}

		@include media("<ipad", ">smart-phone") {
			top: 0;
			max-width: 100%;
		}
	}
}

/* Stacked grid */
.stacked {
	&--col {
		&-inside {

			@include media("<=smart-phone") {
				padding-bottom: 30px;
				height: 32rem;
				bottom: 0;
			}

			@include media("<ipad", ">smart-phone") {
				min-height: 34rem;
			}

			@include media(">ipad") {
				min-height: 29.375rem;
			}

			&:first-of-type {
				.icard--stacked-inside__body {
					@include media("<=smart-phone") {
						right: 25px;
						left: 25px;
					}

					@include media(">smart-phone") {
						right: 1.5rem;
						left: -2rem;
					}
				}
			}

			&:last-of-type {
				.icard--stacked-inside__body {
					@include media("<=smart-phone") {
						right: 25px;
						left: 25px;
					}

					@include media(">smart-phone") {
						right: -2rem;
						left: 1.5rem;
					}
				}
			}
		}

		&-outside {

			@include media("<=smart-phone") {
				height: 23rem;
				bottom: 0;
			}

			@include media(">smart-phone") {
				min-height: 29.375rem;
			}
		}
	}

	&__picture {
		&--abs {
			overflow: hidden;

			@include media("<=smart-phone") {
				position: relative;
				top: auto !important;
				right: auto !important;
				left: auto !important;
				//height: 25rem;
			}

			@include media("<=ipad", ">smart-phone") {
				height: 29rem;
			}

			@include media("<=desktop", ">ipad") {
				height: 32rem;
			}

			@include media(">desktop") {
				height: 35.625rem;
			}

			@include media(">smart-phone") {
				position: absolute;
			}

			// &::before {
			// 	content: "";
			// 	display: block;
			// 	padding-bottom: percentage(570 / 1260);
			// }
		}

		&-img {
			@include media(">smart-phone") {
				position: absolute;
				top: 50%;
				left: 50%;
				right: 0;
				bottom: 0;
				// width: auto;
				// height: 100%;
				// max-width: none;
				// max-height: none;
				transform: translate3d(-50%, -50%, 0);
			}

			@include media("<=1300px", ">smart-phone") {
				width: auto;
				max-width: inherit;
				max-height: inherit;
				height: 100%;
			}
		}

		&--offset {
			&Right {
				.icard__wrap--full & {
					//top: 14%;
					@include media(">smart-phone") {
						top: 8rem;
						left: percentage(200 / 984);
						right: 0;
					}
				}

				.icard__wrap--default & {
					left: 0;

					@include media(">desktop") {
						top: 8rem;
					}

					@include media("<=desktop") {
						top: 5rem;
					}
				}
			}
		}
	}
}

.site-icon {
	&__list {
		display: flex;
		justify-content: center;

		@include media("<=phone") {
			margin-right: -5px;
			margin-left: -5px;
		}

		@include media("<=smart-phone", ">phone") {
			margin-right: -8px;
			margin-left: -8px;
		}

		@include media(">smart-phone") {
			margin-right: -22px;
			margin-left: -22px;
		}
	}

	&__item {

		@include media("<=phone") {
			padding-right: 5px;
			padding-left: 5px;
		}

		@include media("<=smart-phone", ">phone") {
			padding-right: 8px;
			padding-left: 8px;
		}

		@include media(">smart-phone") {
			padding-right: 22px;
			padding-left: 22px;
		}
	}
}

.usage {
	&__list {
		
		@include media(">phone-570") {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-right: -10px;
			margin-left: -10px;
		}

		@include media("<=phone-570") {

		}
	}

	&__item {
		//width: 25%;
		padding: 0 10px;
	}

	&__link {
		display: block;
		margin-bottom: 1rem;
		padding: 1.125rem 25px;
		background: {
			color: $color-whisper;
		};
		border: 1px solid transparent;
		border-radius: 100px;
		color: $color-gray9d;
		line-height: 1;

		&:hover {
			background: {
				color: $color-white;
			};
			border-color: $color-graybb;
			transition: all linear 0.5s;
			color: $color-graybb;
		}
	}
}