.site-wrapper {
	@include media("<=smart-phone") {
		margin-bottom: 0 !important;
	}
}

main {
	position: relative;
	z-index: $zIndex-one;
	background: {
		color: $color-white;
	}

	@include media("<=smart-phone") {
		padding-top: 50px;
	}
}

.block {
	@include media("<=smart-phone") {
		text-align: center;

		&:not(:last-of-type) {
			//padding-bottom: 0;
		}
	}

	&--flex {
		display: flex;
		flex-direction: row;
		//justify-content: center;

		&-vc {
			align-items: center;
			> div {
				width: 100%;
				max-width: 100%;
			}
		}

		&-vhc {
			align-items: center;
			justify-content: center;
			text-align: center;
			> div {
				//width: 100%;
				max-width: 100%;
			}
		}
	}

	&--stacked {
		position: relative;

		&-h {
			&590 {
				&::before {
					overflow: hidden;
					content: "";
					display: block;
					padding-bottom: percentage(590 / 1600);
				}
			}
		}

		> div {
			height: 100%;
		}
	}

	&--footer-coverImg {
		figure {
			.img-responsive {
				position: relative;
				top: 0%;
				left: 50%;
				width: auto;
				max-width: none;
				max-height: none;
				transform: translateX(-50%);
				backface-visibility: hidden;

				@include media("<=phone") {
					height: 250px;
				}

				@include media("<=smart-phone", ">phone") {
					height: 300px;
				}
			}
		}
	}

	&-gap {
		&--sm {
			
			@include media("<=smart-phone") {
				padding: 2.5rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 2rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 3rem 0;	
			}

			@include media(">desktop") {
				padding: 3.125rem 0;	
			}
		}

		&--md {
			
			@include media("<=smart-phone") {
				padding: 2.5rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 2.9rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 3.25rem 0;	
			}

			@include media(">desktop") {
				padding: 3.750rem 0;	
			}
		}

		&--lg {
			@include media("<=smart-phone") {
				padding: 2.5rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 3.5rem 0;
			}

			@include media(">desktop") {
				padding: 5.625rem 0;	
			}
		}

		&--lgx {
			@include media("<=smart-phone") {
				padding: 2.5rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 3rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 3.5rem 0;
			}

			@include media(">desktop") {
				padding: 6.563rem 0;	
			}
		}

		&--lgxx {
			@include media("<=smart-phone") {
				padding: 4rem 0;	
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 7rem 0;	
			}

			@include media("<=desktop", ">ipad") {
				padding: 8.5rem 0;
			}

			@include media(">desktop") {
				padding: 11.250rem 0;	
			}
		}
	}

	&__content {
		background: $color-white;
		transition: all ease 0.75s;
		// box-shadow: 0 0 11px -5px rgba(0, 0, 0, 0.75);

		@include media("<=smart-phone") {
			padding: 25px 15px;
		}

		@include media(">smart-phone") {
			padding: 45px 45px;
		}

		.title--lg {
			margin-bottom: 5px;

			+ p:first-of-type {
				margin-top: 25px;
			}
		}
	}

	&__picture {
		img {
			transition: all ease 1s;
		}
	}

	&__body {
		h4 {
			text-transform: $uc;
		}

		p {
			line-height: 1.75rem;
		}
	}

	&--feature {
		.block__body {
			@include media("<=smart-phone") {
				padding: 5rem 15px;

				> * {
					color: $color-white;
				}

				.icon-arrow-pointer {
					opacity: 1;
				}
			}

			@include media("<=ipad", ">smart-phone") {
				padding: 25px 15px;
			}

			@include media(">ipad") {
				//padding: 40px 40px;
				padding: 30px 30px;
			}

			h4 {
				margin-bottom: 20px;
			}
		}
	}

	@include media("<=smart-phone") {
		&-theme--green {
			.block__body {
				background: $color-green;
			}
		}

		&-theme--yellow {
			.block__body {
				background: $color-yellow;
			}
		}
	}

	&--is-inverse {
		&.block--enterprise {
			@include media("<=ipad", ">smart-phone") {
				padding-bottom: 5rem;
			}

			@include media("<=laptop", ">ipad") {
				padding-bottom: 8rem;
			}
		}

		.col-overlapped[data-order="1"],
		[data-order="1"] {
			@include media(">smart-phone") {
				order: 2;
				transform: translate3d(0rem, 0rem, 0);
			}
		}

		.col-overlapped[data-order="2"],
		.col-overlapped[data-order="1"][data-order="2"] {
			@include media(">smart-phone") {
				order: 1;
				transform: translate3d(0rem, 4rem, 0);
			}
		}

		.row-overlapped {
			@include media(">smart-phone") {
				justify-content: flex-end;
			}
		}

		.col-overlapped--bkg {
			@include media(">smart-phone") {
				right: auto;
				left: 0;
			}
		}
	}

	&--innovate,
	&--signup {
		// @include media("<=smart-phone") {
		// 	padding-bottom: 0;
		// }
	}

	&--pattern {
		[data-bkg="true"] {
			background: {
				position: top right;
				size: contain;
			}
		}
	}

	&--services {
		padding-bottom: 5.75rem;
	}

	h3.block__title {
		&--md {
			margin-bottom: 1.5rem;
			font-size: 2.5rem;
		}
	}
}

.feature {
	&-list {
		li {
			@include media(">smart-phone") {
				display: flex;
				align-items: center;
			}

			&:not(:last-of-type) {
				@include media(">smart-phone") {
					margin-bottom: 25px;
				}

				@include media("<=smart-phone") {
					margin-bottom: 15px;
				}
			}

			.feature-list {
				&__title {
					font-size: 1.125rem;
					font-weight: $fw-bold;
					text-transform: $uc;
					width: 30%;

					@include media("<=smart-phone", ">phone") {
						display: inline-block;
						text-align: left;
					}

					@include media("<=phone") {
						display: block;
						width: 100%;
					}
				}

				&__value {
					color: $color-gray67;
					font-size: 0.875rem;
					font-weight: $fw-bold;
					width: 70%;

					@include media("<=smart-phone", ">phone") {
						display: inline-block;
						margin-left: -5px;
						text-align: right;
					}

					@include media("<=phone") {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}

.membership {
	&__info {
		font-size: 0.938rem;
	}
}

/* iCard block style rules */
.h-stretch {
	height: 100%;
}

.icard {
	line-height: 1.75rem;

	&--abs {
		position: absolute;

		&-topLeft {
			top: 0;
		}
	}

	&--sm {
		padding: 6rem 3.438rem;
		//width: 100%;
		max-width: 480px;
	}

	&--stacked {
		box-shadow: 20px 20px 0px transparentize($color-green26, 0);

		&-topoffset {
			transform: translate3d(0rem, -3.438rem, 0);
		}
	}

	h3 {
		&:not(:last-child) {
			margin-bottom: 1.35rem;
		}
	}

	ul {
		margin-top: 1.25rem;

		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}

		li {
			//padding-left: 35px;
			list-style: disc;
			list-style-position: inside;
		}
	}
}

/* Donut recipe */
.donut {
	&__list {
		@include media("<=smart-phone") {
			display: flex;
			flex-wrap: wrap;

			li {
				width: 33.33333333%;
			}
		}

		@include media("<=570px") {
			li {
				width: 50%;
			}
		}

		.donut {
			&__item {
				display: flex;
				padding-right: 5px;
				padding-left: 5px;

				@include media(">smart-phone") {
					width: 33.3333333%;
				}

				&:not(.last-col) {
					margin-bottom: 10px;
				}

				&--zillable {
					h5 {
						color: $color-zil;
					}
				}

				&--twitter {
					h5 {
						color: $color-tw;
					}
				}

				&--facebook {
					h5 {
						color: $color-fb;
					}
				}

				&--snapchat {
					h5 {
						color: $color-schat;
					}
				}

				&--youtube {
					h5 {
						color: $color-yt;
					}
				}

				&--linkedin {
					h5 {
						color: $color-lkdn;
					}
				}

				&--pinterest {
					h5 {
						color: $color-pin;
					}
				}

				&--airbnb {
					h5 {
						color: $color-abn;
					}
				}

				&--uber {
					h5 {
						color: $color-ub;
					}
				}
			}

			&__content {
				padding: 1.25rem 1.5rem 1.75rem;
				width: 100%;
				border: 1px solid $color-graye5;
				text-align: center;

				h5 {
					margin-bottom: 0.35rem;
				}

				p {
					font-size: 0.875rem;
					font-weight: 600;
					line-height: 1.25rem;
				}
			}
		}
	}

	&__picture-wrap {
		@include media(">smart-phone") {
			position: absolute;
			top: -6.75rem;

			img {
				width: auto;
				max-width: inherit;
			}
		}
	}
}