.banner {
	&--overlay {
		position: relative;
		&::after {
			position: absolute;
		    content: '';
		    top: 0;
		    left: 0;
		    z-index: $zIndex-zero;
			background-image: -webkit-linear-gradient(top, rgba($color-blue58,0.2) 20%, $color-blue1c 100%);
		    background-image: -o-linear-gradient(top, rgba($color-blue58,0.2) 20%, $color-blue1c 100%);
		    background-image: linear-gradient(to bottom, rgba($color-blue58,0.2) 20%, $color-blue1c 100%);
		    background-repeat: repeat-x;
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00586c79', endColorstr='#1c232c', GradientType=0);
		    width: 100%;
		    height: 100%;		    
		}

		.banner {
			&__caption {
				position: relative;
				z-index: $zIndex-one;
			}
		}
	}

	&--flex {
		display: flex;
		flex-direction: row;
		//justify-content: center;

		&-vc {
			align-items: center;
			> div {
				width: 100%;
				max-width: 100%;
			}
		}

		&-vhc {
			align-items: center;
			justify-content: center;
			text-align: center;
			> div {
				//width: 100%;
				max-width: 100%;
			}
		}
	}

	&--vh {
		&-full {
			height: calc(100vh);
		}

		&-md {
			height: calc(81.15vh);
		}
	}

	&--hero {
		position: relative;
		overflow: hidden;

		.banner__stretch {
			position: absolute;
			top: 50%;
			right: 0;
			bottom: 0;
			left: 50%;
			z-index: $zIndex-neg;
			width: 100%;
			height: auto;
			max-width: none;
			max-height: none;
			transform: translate3d(-50%, -50%, 0);
		}

		@include media("<=smart-phone") {
			text-align: center;
		}
	}

	&__caption {
		color: $color-white;

		@include media(">smart-phone") {
			&--sm {
				max-width: 420px;
			}

			&--md {
				max-width: 620px;
			}
		}

		.title--lg {
			&:not(:last-child) {
				@include media("<=smart-phone") {
					margin-bottom: 0.938rem;
				}

				@include media(">smart-phone") {
					margin-bottom: 1.575rem;
				}
			}
		}

		.banner {
			&__title {
				&-sub {

				}
			}

			&__desc {
				@include media("<=smart-phone") {
					margin-bottom: 0.938rem;
				}

				@include media(">smart-phone") {
					margin-bottom: 1.575rem;
				}
			}
		}
	}

	&--sm {
		//padding: 5.938rem 0 1.875rem;
	}

	/* Caption */
	&__caption {
		&--white {
			color: $color-black;
		}
	}
}