.menu {
	margin-right: -20px;
	margin-left: -20px;
	font-size: $fs-menu;
	color: $color-white;

	&__item {
		padding: 15px 20px;

		&:not(.has-submenu) {
			.menu__link {
				position: relative;
				&::after {
					position: absolute;
					right: 0;
					bottom: -10px;
					left: 0;
					opacity: 0;
					content: "";
					width: 100%;
					height: 4px;
					background:{
						color: $color-green;
					}
					transform: translateY(15px);
					transition: all linear 0.35s;
				}
			}

			&:hover {
				a {
					&::after {
						opacity: 1;
						transform: translateY(0px);
					}
				}
			}
		}

		&.has-submenu {
			position: relative;

			&:hover {
				.menu__dropdown {
					opacity: 1;
					pointer-events: auto;
					transform: translateY(0);
				}
			}
		}
	}

	&__link {
		color: $color-white;

		&:hover,
		&:focus,
		&:active {
			color: $color-graya4;
		}
	}

	&__bar {
		position: relative;
		display: block;
		width: 25px;
		height: 4px;
		background: {
			color: $color-green;
		}

		&:not(:first-of-type) {
			margin-top: 2px;
		}
	}

	&__dropdown {
		position: absolute;
		top: 100%;
		right: 0;
		opacity: 0;
		pointer-events: none;
		padding: 30px 40px;
		width: 280px;
		border-radius: 3px;
		background: {
			color: $color-white;
		}
		text-align: left;
		transform: translateY(10px);
		transition: all ease-in-out 0.75s;

		&::before {
			position: absolute;
			top: -8px;
			right: 25px;
			content: "";
			margin: 0 auto;
			width: 0;
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $color-white;
		}

		.submenu {
			&:not(:last-of-type) {
				margin-bottom: 35px;
			}
		}

		li {
			&:not(:last-of-type) {
				margin-bottom: 10px;
			}

			a {
				color: $color-black;
				font-weight: $fw-bold;

				&:hover {
					color: $color-green;
				}
			}
		}
	}
}