.row {
	&-overlapped {
		position: relative;
	}
}

.col {
	&-overlapped {

		@include media(">smart-phone") {
			display: flex;
			justify-content: flex-start;
			align-items: stretch;

			&[data-order="1"] {
				z-index: $zIndex-one;
				transform: translate3d(0rem,4rem,0);
			}

			&--bkg {
				position: absolute;
				right: 0;
				width: 50%;
				height: 100%;
			}

			&--content {
				width: 54.125%;

				.block__content {
					//padding-bottom: 5rem;
				}
			}
		}

		@include media("<ipad", ">smart-phone") {
			&--bkg {
				width: 65%;
			}
		}

		position: relative;
		overflow: hidden;
	    backface-visibility: hidden;
	    transform: translateZ(0);

	    .icon {
			opacity: 0;
			display: block;
			margin: 15px auto 0;
			max-width: 30px;
			font-size: 1.75rem;
			text-align: center;
			transform: translate3d(-10px, 0px, 0);
			backface-visibility: hidden;
			transition: all ease 0.75s;
		}

	    @include media("<=smart-phone") {
			.block__content {
				transition: all linear 0.35s;

				.block-theme--green & {
					background: $color-green;
				}

				.block-theme--yellow & {
					background: $color-yellow;
				}
			}

			* {
				color: $color-white !important;
				transition: all linear 0.35s;
			}

			.block__picture {
				img {
					transform: scale3d(1.125, 1.125, 1.125);
					transition: all linear 4s;
				}
			}

			// ~ [data-order="2"] [data-bkg="true"] {
			// 	transform: scale3d(1.125, 1.125, 1.125);
			// 	transition: all linear 4s;
			// }

			.icon {
				opacity: 1;
				transform: translate3d(0px, 0px, 0);
			}
		}

		&:hover {

			@include media(">smart-phone") {
				.block__content {
					transition: all linear 0.35s;

					.block-theme--green & {
						background: $color-green;
					}

					.block-theme--yellow & {
						background: $color-yellow;
					}
				}

				* {
					color: $color-white !important;
					transition: all linear 0.35s;
				}

				.block__picture {
					img {
						transform: scale3d(1.125, 1.125, 1.125);
						transition: all linear 4s;
					}
				}

				~ [data-order="2"] {
					box-shadow: 1px 5px 15px 0 rgba(0,0,0,0.22);
					transition: all linear 0.75s;
				}

				~ [data-order="2"] [data-bkg="true"] {
					transform: scale3d(1.125, 1.125, 1.125);
					transition: all linear 4s;
				}

				.icon {
					opacity: 1;
					transform: translate3d(0px, 0px, 0);
				}
			}
		}

		&--content {
			&:hover {
				box-shadow: 1px 5px 15px 0 rgba(0,0,0,0.22);
				transition: all linear 0.75s;
			}
		}
	}
}

.overlapped {
	&__card {
		@include media(">smart-phone") {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			flex: 1 1 0%;
		}

		color: $color-black;
		transition: none;

		&:hover {
			color: $color-white;
		}

		@include media("<=smart-phone") {
			&[data-bkg="true"] {
				position: relative;
				overflow: hidden;

				&::before {
					content: "";
					display: block;
					padding-bottom: percentage(522 / 598);
				}
			}
		}
	}
}

figure {
	&.overlapped {
		&__card {
			transition: all ease 1s;
		}
	}
}

.col {
	&--innovate {
		.block__body {
			position: relative;
			//overflow: hidden;
			height: 100%;

			 > a {
			 	display: block;
				padding-bottom: 3rem;
				padding-right: 15px;
				padding-left: 15px;
				height: 100%;
				backface-visibility: hidden;
				transform: translateZ(0);
				transition: all ease 0.5s;

				@include media("<=smart-phone") {
					padding-top: 8rem;
				}

				@include media("<=ipad", ">smart-phone") {
					padding-top: 5rem;
				}

				@include media(">ipad") {
					padding-top: 8.5rem;
				}

				&:hover {
					box-shadow: 1px 5px 15px 0 rgba(0,0,0,.22);
					//transform: scale3d(1.125, 1.125, 1.125);
					transition: all linear 0.75s;

					.icon-arrow-pointer {
						opacity: 1;
						transform: translate3d(0px, 0px, 0);
						transition: all linear 0.35s;
					}
				}
			}

			p {
				font-size: 0.875rem;
				letter-spacing: 1px;
				line-height: 1.5rem;
			}

			.article__moreLink {
				display: block;
				margin-top: 25px;
				margin-bottom: 10px;
				font-size: 0.8rem;
				letter-spacing: 1px;
			}

			.icon-arrow-pointer {
				display: block;
				opacity: 0;
				transform: translate3d(-10px, 0px, 0);
				transition: all ease 0.75s;
			}
		}
	}

	&--services {
		//display: flex;
		//align-items: center;

		.col {
			&__content {
				display: flex;
				align-items: center;
				justify-content: center;

				padding: 1.25rem 1.5rem 1.75rem;
				width: 100%;
				min-height: 13.875rem;
				border: 1px solid $color-graye5;
				font-weight: bold;
				text-align: center;

				&:not(.last-col) {
					margin-bottom: 10px;
				}

				h6 {
					font-weight: bold;
				}
			}
		}
	}

	&--featured {
		@include media("<=desktop", ">smart-phone") {
			min-height: 22.125rem;
		}

		@include media(">desktop") {
			min-height: 28.125rem;
		}

		&-full {
			display: flex;
			align-items: center;
			height: 100%;
			transition: all ease 0.35s;

			@include media(">laptop") {
				padding: 20px 2rem;
			}

			&:hover {
				box-shadow: 1px 5px 15px 0 rgba(0,0,0,.22);
				transition: all linear 0.75s;
			}

			h3 {
				@include media("<=ipad", ">smart-phone") {
					font-size: 2rem;
				}

				@include media("<desktop", ">ipad") {
					font-size: 2.25rem;
				}

				@include media(">desktop") {
					font-size: 2.75rem;
				}

				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}
			}

			p {
				color: $color-white;
			}
		}

		figure {
			overflow: hidden;
			img {
				transition: all ease 0.35s;
			}
		}

		> a {
			display: block;
			height: 100%;
			transition: all ease 0.35s;
			color: inherit;
			backface-visibility: hidden;
			transform: translateZ(0);

			.icon {
				font-size: 1.25rem;

				@include media(">smart-phone") {
					margin-right: 0;
					margin-left: 0;
				}

				.text-center & {
					margin-right: auto;
					margin-left: auto;
				}
			}

			&:hover {
				//background-color: $color-green;
				box-shadow: 1px 5px 15px 0 rgba(0,0,0,.22);
				transition: all linear 0.5s;

				.block-theme--yellow & {
					background-color: $color-yellow;
				}

				.block-theme--green & {
					background-color: $color-green;
				}

				* {
					color: $color-white;
					transition: all linear 0.35s;
				}

				figure {
					overflow: hidden;
					img {
						transform: scale3d(1.125, 1.125, 1.125);
						transition: all linear 4s;
					}
				}

				.icon {
					opacity: 1;
    				transform: translate3d(0px, 0px, 0);
				}
			}
		}
	}
}